# Environment files
.env

# Virtual environments
.vemv/
.venv/
env/
venv/

# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Logs and temporary files
*.log
*.tmp
*.swp
*.swo

# IDE-specific files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db